@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap");

:root {
  --primary: #443f75;
  --background: #ffffff;
  --text: #443f75;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 15px;
  background-color: white;
  color: #313896;
  line-height: 1.6em;
  margin: 0;
  padding: 0;
  border: 0;
}

#logo{
  width: 100%;
  background: url(images/bg.png) no-repeat;
  opacity: 0.8;
  padding: 20px;
  top: 0;
  left: 0;
  z-index: 100;
}
.custom__line{
  width: 600px;
  height: 0px;
  color: #ffffff;
  margin: 10px 300px;
}
header .nav_container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 50px; */
}
#container__brand{
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  float: left;
  padding-left: 50px;
  padding-top: 10px;
}
.navigation{
  float: right;
  display: flex;
  flex-direction: row;
  padding-right: 10px;
}
header .navigation__list--link{
  /* float: center; */
  display: inline;
  padding: 0 20px 0 20px;
}
header .navigation__list--other{
  color:#ffffff;
  text-decoration: none;
  font-weight: bolder;
}
header .navigation__list--first{
  color:#eff16d;
  text-decoration: none;
  font-weight: bolder;
}
header .navigation__list--first:hover,.navigation__list--other:hover,.navigation__list--main:hover{
  color:#eff16d;
  font-weight: bold;
}
header .navigation__list--icon{
  float: right;
  display: inline;
}
header .navigation__list__icon--link{
  color:#ffffff;
  text-decoration: none;
  padding: 0 20px 0 20px;
}
header .navigation_list{
  display: flex;
  flex-direction: row;
  gap: 350px;
  padding: 0 10px;
}
.on_bg{
  padding-left: 40px;
}
.on_bg h1{
  font-size: 40px;
  font-weight: 900;
  color: #fff;
  width: 400px;
  padding-top: 40px;
  line-height: 1.3em;
}
.on_bg p{
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  width: 570px;
  padding-top: 30px;
  line-height: 1.6em;
}
.opaque{
  padding-top: 30px;
  padding-bottom: 50px;;
}
.button1{
  background:local;
  border: none;
  width: 150px;
  height: 50px;
  color: #fff;
  border: 1px solid white;
}
.button1 a{
  text-decoration: none;
  color: white;
  font-size: 15px;
  padding-top: 10px;
}
.button1:hover{
  background-color: var(--primary);
}
#about{
  font-size: xx-large;
  font-weight: 800;
  color:var(--primary);
  padding-bottom: 1px;
  width: 100px;
  line-height: 1.3em;
}
.aboutus{
  background-color: #ffffff;
  color: var(--text);
  padding-left: 40px;
  padding-top: 30px;
}
.about_us{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.custom__line--about{
  width: 130px;
  height: 0px;
  color: var(--primary);
  padding-bottom: 0;
  /* margin: 10px 290px; */
} 
.about__left img{
  clip-path: polygon(38% 18%, 100% 0, 100% 100%, 0 100%, 0% 50%);
}
.about__mid{
  padding-left: 40px;
}
.about__mid i, .about__right i{
  font-size: 40px;
  padding-top: 10px;
  color: var(--primary);
}
.about__mid h2, .about__right h2{
  font-size: 30px;
  font-weight: 600;
  width: 400px;
  padding-top: 20px;
}
.about__mid p, .about__right p{
  font-size: 20px;
  width: 200px;
  padding-top: 30px;
  line-height: 1.6em;
}

#projects {
  color: var(--primary);

  font-size: 3.5rem;
}

.project-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.gap-5 {
  gap: 5rem;
}

.vertical-spacer {
  height: 10rem;
}

.project-section img {
  width: 300px;
  height: 400px;
}

section {
  padding: 5rem;
}

.project-section .img-container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  position: relative;
}

.project-section .img-container .caption {
  font-weight: 900;
  font-size: 2rem;
  position: absolute;
  top: 10%;
  right: -30%;
  line-height: 3rem;
}

.center {
  text-align: center;
}

.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .row-md {
    flex-direction: row;
  }
}
